<ion-content [fullscreen]="true">
 
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Funcionário</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button routerLink="/cadastrar-funcionario">Cadastrar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Funcionário</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button routerLink="/listar-funcionarios">Listar todos</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

         <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Funcionário</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button routerLink="/excluir-funcionarios">Excluir</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

         <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Funcionário</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button  routerLink="/atualizar-funcionarios">Atualizar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      

    </ion-col>
  </ion-row>

</ion-content>